<span class="spacer"></span><br />
<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <h2>Categories</h2>
  <button mat-raised-button (click)="addCategory()">Add Category</button>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="start start"
  *ngFor="let category of categories | async"
>
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>{{ category.title }}</mat-card-title>
      <img mat-card-avatar [src]="category.image" height="100%" width="100%" />
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="loadSubCategories(category)">
        Detail
      </button>
      <button mat-raised-button (click)="editCategory(category)">Edit</button>
      <button mat-raised-button (click)="delete(category)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
