mat-dialog-content {
  width: 30vw;
}

.add-edit-form {
  min-width: 150px;
  max-width: 100%;
}

.fields {
  width: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
}

.spacer {
  height: 2rem;
}

