.main-container {
  height: 90%;
  width: 100%;
}
.title {
  margin: 1rem;
}

.card-components {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

mat-card {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  mat-card {
    width: 50%;
  }
}
.spacer {
  height: 2rem;
}

.sales {
  margin: 4rem;
  width: 100%;
}
